i {
  font-size: 30px;
  color: #000;
}

.badge {
  position: absolute;
  top: 15px;
  right: 60px;
  font-size: 9px;
  color: #fff;
  min-width: 20px;
  padding: 0 5px;
  height: 20px;
  border-radius: 10px;
  text-align: center;
  line-height: 19px;
  vertical-align: middle;
  display: block;
  border: 1px solid #fff;
}



@media (max-width: 768px) {
  .navbar {
    background: #0BB4C8;
  }

  .navbar-brand {
    color: white;
  }

  .nav-link {
    color: white !important;
  }

  .navbar-toggler:focus {
    box-shadow: none;
  }

  i {
    font-size: 18px;
    color: #fff;
    padding-right: 10px;
  }

  /* navbar desktop */
  .desktop {
    display: none !important;
  }

  /* navbar mobile */
  .mobile {
    display: block !important;
  }
}
