<div class="wrapper">


  <div class="container-fluid p-4">


    <div class="row">
      <!-- card 1 -->
      <div class="col-lg-3 col-md-6 py-5">
        <div class="card h-100 shadow1 border-0">
          <div class="card-body">
            <div class="row">
              <div class="col-5 ">
                <div class="top-card shadow c2 m-45">
                  <i class="far fa-clone"></i>
                </div>
              </div>
              <div class="col-7 text-end ">
                <small class="text-muted">Used Space</small>
                <h3> 10/50 GB</h3>
              </div>
            </div>

          </div>
          <div class="card-footer border-0">
            <small class="text-muted"> <i class="fas fa-exclamation-triangle pe-2"></i> Get More Space...</small>
          </div>
        </div>
      </div>

      <!-- card 2 -->
      <div class="col-lg-3 col-md-6 py-5">
        <div class="card h-100 shadow1 border-0">
          <div class="card-body">
            <div class="row">
              <div class="col-5 ">
                <div class="top-card shadow c3 m-45">
                  <i class="fas fa-store-alt"></i>
                </div>
              </div>
              <div class="col-7 text-end ">
                <small class="text-muted">Revenue</small>
                <h3> $34,245</h3>
              </div>
            </div>

          </div>
          <div class="card-footer border-0">
            <small class="text-muted"> <i class="far fa-calendar-alt pe-2"></i>Last 24 Hours </small>
          </div>
        </div>
      </div>

      <!-- card 3 -->
      <div class="col-lg-3 col-md-6 py-5">
        <div class="card h-100 shadow1 border-0">
          <div class="card-body">
            <div class="row">
              <div class="col-5 ">
                <div class="top-card shadow c4 m-45">
                  <i class="far fa-clone"></i>
                </div>
              </div>
              <div class="col-7 text-end ">
                <small class="text-muted">Fixed Issues</small>
                <h3> 25</h3>
              </div>
            </div>

          </div>
          <div class="card-footer border-0">
            <small class="text-muted"> <i class="fab fa-github pe-2"></i> Tracked from Github </small>
          </div>
        </div>
      </div>

      <!-- card 4 -->
      <div class="col-lg-3 col-md-6 py-5">
        <div class="card h-100 shadow1 border-0">
          <div class="card-body">
            <div class="row">
              <div class="col-5 ">
                <div class="top-card shadow c1 m-45">
                  <i class="fab fa-twitter"></i>
                </div>
              </div>
              <div class="col-7 text-end ">
                <small class="text-muted">Followers</small>
                <h3> 150</h3>
              </div>
            </div>

          </div>
          <div class="card-footer border-0">
            <small class="text-muted"> <i class="fas fa-history pe-2"></i> Just Updated</small>
          </div>
        </div>
      </div>

    </div>

    <!-- Charts -->
    <app-charts></app-charts>

    <!-- End container-fluid -->
  </div>




  <!-- End Wrapper -->
<!-- </div> -->
