<div class="container-fluid py-5 gx-0">


  <div class="row">

    <!-- Card 1 -->
    <div class="col-lg-4 col-md-12 pb-5">
      <div class="card h-100 shadow1 border-0">
        <div class="card-body">
          <div class="c1 p-3 m-45 shadow br-5">
            <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions" class="charts"></highcharts-chart>
          </div>
          <h5 class="pt-3 ">Daily Sales</h5>
          <small class="text-muted"> <span class="color2">55%</span> increase in today sales.</small>

        </div>
        <div class="card-footer border-o">
          <small class="text-muted"> <i class="fas fa-exclamation-triangle pe-2"></i>
            updated 4 minutes ago </small>
        </div>
      </div>
    </div>

    <!-- Card 2 -->
    <div class="col-lg-4 col-md-12 pb-5">
      <div class="card h-100 shadow1 border-0">
        <div class="card-body">
          <div class="c1 p-3 m-45 shadow br-5">
            <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions" class="charts"></highcharts-chart>
          </div>
          <h5 class="pt-3 ">Daily Sales</h5>
          <small class="text-muted"> <span class="color2">55%</span> increase in today sales.</small>

        </div>
        <div class="card-footer border-o">
          <small class="text-muted"> <i class="fas fa-exclamation-triangle pe-2"></i>
            updated 4 minutes ago </small>
        </div>
      </div>
    </div>

    <!-- Card 3 -->
    <div class="col-lg-4 col-md-12 pb-5">
      <div class="card h-100 shadow1 border-0">
        <div class="card-body">
          <div class="c1 p-3 m-45 shadow br-5">
            <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions" class="charts"></highcharts-chart>
          </div>
          <h5 class="pt-3 ">Daily Sales</h5>
          <small class="text-muted"> <span class="color2">55%</span> increase in today sales.</small>

        </div>
        <div class="card-footer border-o">
          <small class="text-muted"> <i class="fas fa-exclamation-triangle pe-2"></i>
            updated 4 minutes ago </small>
        </div>
      </div>
    </div>


  </div>
</div>
