<div class="sidebar shadow d-none d-sm-none d-md-block h-100">
  <div class="">
    <h4>Admin Dashboard</h4>
  </div>
  <nav class="nav ">
    <a class="nav-link" routerLink="/" routerLinkActive="active"> <i class="fas fa-desktop"></i> Dashboard</a>
    <a class="nav-link" routerLink="employees" routerLinkActive="active" > <i class="fas fa-users"></i> Employee</a>

  </nav>

  <div class="social-media">
    <ul>
      <li> <a href="https://www.linkedin.com/in/rostam-sadiqi-aa0003119/"><i class="fab fa-linkedin"></i></a> </li>
      <li> <a href="https://dribbble.com/rostamsadiqi"><i class="fab fa-dribbble-square"></i></a> </li>
      <li> <a href="https://www.behance.net/rostamsadiqi"><i class="fab fa-behance-square"></i></a> </li>
      <li> <a href="https://www.instagram.com/webdesign142/"><i class="fab fa-instagram-square"></i></a> </li>
        
    </ul>
  </div>
</div>
